header {
    background-image: url('../img/gambarPosts/gambar5.jpg');
}

main article {
    width: 100%;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

article h2 {
    font-size: var(--clamp-h2);
    font-weight: 600;
}

article p {
    font-size: var(--clamp-h3);
    font-weight: 500;
    text-align: justify;
}

article .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
}

.img-container .img {
    min-width: 320px;
    min-height: 320px;
}

.img-container img {
    width: 100%;
}
