/* === About Start === */
main .about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about .left-section {
    min-width: 320px;
    min-height: 360px;
    height: 360px;
    flex: 2;
    border: 2px solid var(--primary);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about .left-section img {
    width: 100%;
}

.about .right-section {
    min-width: 320px;
    min-height: 360px;
    height: fit-content;
    flex: 3;
}

.about .right-section h2 {
    font-size: var(--clamp-h2);
    font-weight: 800;
    color: var(--primary);
    text-decoration: underline;
}

.about .right-section p {
    font-size: var(--clamp-h3);
    font-weight: 600;
    color: var(--primary);
    text-align: justify;
}
/* === About End === */


/* === Benefit Start === */
main .benefit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    overflow: hidden;
}

.benefit .card {
    max-width: 100%;
    min-width: 300px;
    width: 360px;
    max-height: 500px;
    min-height: 280px;
    flex-grow: 1;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px 15px 15px 15px;
    color: var(--white);
    overflow: hidden;
}

.benefit .card:nth-child(even) {
    background-color: var(--white);
    color: var(--primary);
}

.benefit .card img {
    width: 240px;
}

.benefit .card h3 {
    font-size: 2rem;
    font-weight: 600;
}

.benefit .card p {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}
/* === Benefit End === */


/* === Join us Start === */
main .join-us {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.join-us .left-section {
    min-width: 320px;
    flex-grow: 1;
    flex: 3;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-us .left-section img {
    width: 100%;
}

.join-us .right-section {
    min-width: 320px;
    width: 320px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-us .right-section h3 {
    font-size: var(--clamp-h1l);
    font-weight: 500;
    color: var(--primary);
}

.join-us .right-section a {
    padding: 2% 5%;
    background-color: var(--primary);
    border-radius: 20px;
}
/* === Join us End === */


/* === Update Start === */
main .update {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update h2 {
    font-size: var(--clamp-h1);
    font-weight: 600;
    color: var(--primary);
}

.update .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.update .content .news {
    flex: 1;
    min-width: 320px;
    max-height: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.update .content .news .img{
    width: 100%;
    min-height: 320px;
    height: 360px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.news .background {
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(45, 38, 112, 1),
        rgba(45, 38, 112, 0.8),
        rgba(45, 38, 112, 0.0),
        rgba(45, 38, 112, 0.0)
    );
    position: absolute;
    z-index: 1;
}

.news #img1 {
    background-image: url(../img/gambarPosts/gambar1.jpg);
}

.news #img2 {
    background-image: url(../img/gambarPosts/gambar8.jpg);
}

.news p {
    width: 100%;
    padding: 0 50px;
    color: var(--white);
    position: absolute;
    text-align: center;
    bottom: 20px;
    font-size: var(--clamp-p);
    font-weight: 500;
    z-index: 2;
}

.news h3 {
    font-size: var(--clamp-h3);
    font-weight: 600;
    text-align: center;
    color: var(--primary);
}
/* === Update End === */
