<div class="social">
    <div class="contact-us">
        <h4>Contact Us</h4>
        <a target="_blank"><i class="far fa-envelope"></i> core.it@ftumj.ac.id</a>
        <a target="_blank"><i class="fas fa-map-marker-alt"></i> Cempaka putih 2 Tengah No.27, Jakarta</a>
    </div>

    <div class="follow-us">
        <h4>Follow Us</h4>
        <div class="v">
            <a href="https://www.linkedin.com/company/forum-riset-teknologi-informasi-universitas-muhammadiyah-jakarta/posts/?feedView=all" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/core.it_umj?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</div>

<p>&#169; Copyright 2024 - Community of Research and Innovation Technology</p>