<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">

    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/aboutUs.css">

    <title>Core IT</title>
    <link rel="icon" type="image/png" href="/img/Logo Core IT.png">
</head>
<body>
    <nav>
        <a href="/index.html">Home</a>
        <a href="/views/divisions.html">Division</a>
        <a href="/views/program.html">Program</a>
        <a>About Us</a>
    </nav>

    <header>
        <div class="background-section"></div>

        <div class="text-section">
            <h1>Community of Research and Innovation Technology</h1>
            <a href="">Let's Join Us!</a>
        </div>
    </header>

    <main>
        <article>
            <h2>History of Core IT</h2>
            <p>
                Core IT was formed due to student awareness of the lack of a forum that houses national competitions such as Gemastik. It all started with the Gemastik competition in 2023. Students felt that they did not get maximum guidance when participating in this competition. So the formation of Core IT was born as a community that focuses on the field of technology competitions in Indonesia. Core IT was initiated by 3 students who participated in the competition in Malang, East Java.
            </p>

            <div class="img-container">
                <div class="img"><img src="/img/gambarPosts/gambar9.png" alt="gambar 1"></div>
                <div class="img"><img src="/img/gambarPosts/gambar10.png" alt="gambar 2"></div>
            </div>

            <p>
                On September 16, 2023, the formation of this community was formulated. This was done on the spur of the moment at Brawijaya Resto, Malang, East Java. In this formulation, the results of the agreement regarding the community chairman, community secretary and RnD were obtained.Then on December 14, 2023, Core IT was officially established as a research community at UMJ.
            </p>
        </article>
    </main>

    <footer>
        <div class="social">
            <div class="contact-us">
                <h4>Contact Us</h4>
                <a target="_blank"><i class="far fa-envelope"></i> core.it@ftumj.ac.id</a>
                <a target="_blank"><i class="fas fa-map-marker-alt"></i> Cempaka putih 2 Tengah No.27, Jakarta</a>
            </div>

            <div class="follow-us">
                <h4>Follow Us</h4>
                <div class="v">
                    <a href="https://www.linkedin.com/company/forum-riset-teknologi-informasi-universitas-muhammadiyah-jakarta/posts/?feedView=all" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/core.it_umj?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <p>&#169; Copyright 2024 - Community of Research and Innovation Technology</p>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>
