<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">

    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/divisions.css">

    <title>Core IT Division</title>
    <link rel="icon" type="image/png" href="/img/Logo Core IT.png">
</head>
<body>
    <nav>
        <a href="../index.html">Home</a>
        <a>Division</a>
        <a href="/views/program.html">Program</a>
        <a href="/views/aboutUs.html">About Us</a>
    </nav>

    <main>
        <h2>Division in Core IT</h2>

        <div class="divisi-container">
            <a href="/views/divisions/programming.html" class="card">
                <h5>Programming</h5>
                <div class="divisi-img"><img src="../img/logoDivisi/programming.png" alt="Programming"></div>
            </a>

            <a href="/views/divisions/cyber-security.html" class="card">
                <h5>Cyber Security</h5>
                <div class="divisi-img"><img src="../img/logoDivisi/cyber-security.png" alt="Cyber Security"></div>
            </a>

            <a href="/views/divisions/software-engineering.html" class="card">
                <h5>Software Engineering</h5>
                <div class="divisi-img"><img src="../img/logoDivisi/software-engineering.png" alt="Software Engineering"></div>
            </a>

            <a href="/views/divisions/game-development.html" class="card">
                <h5>Game Development</h5>
                <div class="divisi-img"><img src="../img/logoDivisi/game-development.png" alt="Game Development"></div>
            </a>

            <a href="/views/divisions/data-mining.html" class="card">
                <h5>Data Mining</h5>
                <div class="divisi-img"><img src="../img/logoDivisi/data-mining.png" alt="Data Mining"></div>
            </a>

            <a href="/views/divisions/ui-ux.html" class="card">
                <h5>UI / UX</h5>
                <div class="divisi-img"><img src="../img/logoDivisi/ui-ux.png" alt="UI / UX"></div>
            </a>

            <a href="/views/divisions/coming-soon.html" class="card">
                <h5>ICT Business</h5>
                <div class="divisi-img"><img src="../img/logoDivisi/ict-business.png" alt="ICT Business"></div>
            </a>
            
            <a href="/views/divisions/coming-soon.html" class="card">
                <h5>Smart City</h5>
                <div class="divisi-img"><img src="../img/logoDivisi/smart-city.png" alt="Smart City"></div>
            </a>

            <a href="/views/divisions/coming-soon.html" class="card">
                <h5>ICT Scientific Paper</h5>
                <div class="divisi-img"><img src="../img/logoDivisi/ict-scientific-paper.png" alt="ICT Scientific Paper"></div>
            </a>

            <a href="/views/divisions/coming-soon.html" class="card">
                <h5>Internet of Things</h5>
                <div class="divisi-img"><img src="../img/logoDivisi/internet-of-things.png" alt="Internet of Things"></div>
            </a>

            <a href="/views/divisions/coming-soon.html" class="card">
                <h5>Animation</h5>
                <div class="divisi-img"><img src="../img/logoDivisi/animation.png" alt="Animation"></div>
            </a>
        </div>

        <script src="/js/division.js"></script>
    </main>

    <footer>
        <div class="social">
            <div class="contact-us">
                <h4>Contact Us</h4>
                <a target="_blank"><i class="far fa-envelope"></i> core.it@ftumj.ac.id</a>
                <a target="_blank"><i class="fas fa-map-marker-alt"></i> Cempaka putih 2 Tengah No.27, Jakarta</a>
            </div>

            <div class="follow-us">
                <h4>Follow Us</h4>
                <div class="v">
                    <a href="https://www.linkedin.com/company/forum-riset-teknologi-informasi-universitas-muhammadiyah-jakarta/posts/?feedView=all" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/core.it_umj?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <p>&#169; Copyright 2024 - Community of Research and Innovation Technology</p>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>