<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">

    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/division.css">

    <title>Core IT Coming Soon</title>
    <link rel="icon" type="image/png" href="/img/Logo Core IT.png">
</head>
<body>
    <nav>
        <a href="/index.html">Home</a>
        <a href="/views/divisions.html">Division</a>
        <a href="/views/program.html">Program</a>
        <a href="/views/aboutUs.html">About Us</a>
    </nav>

    <main id="coming-soon">
        <div class="header">
            <h5>Coming Soon</h5>
            <div class="divisi-img"><img src="/img/logoDivisi/" alt="Coming Soon"></div>
        </div>

        <section class="about">
            <h2>What You'll Learn</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eveniet laborum exercitationem quod beatae ex pariatur possimus odio. Dolor, quod! Id nisi debitis commodi nostrum temporibus rem quia perferendis assumenda.
            </p>
        </section>

        <section class="learning">
            <h2>Deveoped Competencies</h2>
            <div class="learning-container">
                <div class="bab">Coming Soon</div>
                <div class="bab">Coming Soon</div>
                <div class="bab">Coming Soon</div>
                <div class="bab">Coming Soon</div>
                <div class="bab">Coming Soon</div>
                <div class="bab">Coming Soon</div>
            </div>
        </section>

        <section class="member">
            <h2>Cyber Security Member</h2>
            <table>
                <thead>
                    <tr>
                        <th>NIM</th>
                        <th>Nama</th>
                        <th>Prodi</th>
                    </tr>
                </thead>
                <tbody id="tabel-member">
                    <!-- Baris data akan ditambahkan di sini -->
                </tbody>
            </table>
        </section>

        <script type="module" src="/js/division.js"></script>
    </main>

    <footer>
        <div class="social">
            <div class="contact-us">
                <h4>Contact Us</h4>
                <a target="_blank"><i class="far fa-envelope"></i> core.it@ftumj.ac.id</a>
                <a target="_blank"><i class="fas fa-map-marker-alt"></i> Cempaka putih 2 Tengah No.27, Jakarta</a>
            </div>

            <div class="follow-us">
                <h4>Follow Us</h4>
                <div class="v">
                    <a href="https://www.linkedin.com/company/forum-riset-teknologi-informasi-universitas-muhammadiyah-jakarta/posts/?feedView=all" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/core.it_umj?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <p>&#169; Copyright 2024 - Community of Research and Innovation Technology</p>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>